<%  include ./partials/header %>

<div class="container"> 
<h1 >URL Shortener Microservice</h1>
<p>Freecodecamp Project</p>
<a target="_blank" href="https://github.com/souryavaranasi"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://codepen.io/souryacodes/"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
<a target="_blank" href="https://www.freecodecamp.org/souryavaranasi"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
<h3>Please enter a valid URL to get a short URL</h3>
<form  method="POST" action="/">
     
        <label>URL</label>
        
        <input type="text" name="url[longurl]" placeholder="paste link here" >
 
    <button class="btn btn-sm btn-primary btn-default" type="submit">get shortURL</button>
</form>
 
 
 
</div>


<%  include ./partials/footer %>