<%  include ./partials/header %>
<div class="container"> 
<h1 >URL shortener</h1>
<p>click on the short url generated to view the page</p>

<a target="_blank" href="<%=long%>"><%=short%></a>

</div>


<%  include ./partials/footer %>